
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/open-sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/open-sans-semibold.woff2") format("woff2");
}

@import "./variables";

@import "bulma/bulma";
@import "font-awesome/scss/font-awesome";

.is-smallcaps {
  font-variant: small-caps;
}

figure.image img {
  object-fit: cover;
  object-position: 50% 50%;
}

.Header {
  &-logo {
    content: url("./img/logo.png");
  }
}
