
.ProfilePhotos {

  &-form {
    margin-bottom: 1em;
  }

  &-photos {
    img {
      cursor: pointer;
    }
  }

  &-selected {
    margin-bottom: 1em;

    .image img {
      max-width: 100%;
    }
  }

}
