
.ProfilePhotos {

  &-form {
    margin-bottom: 1em;
  }

  figure.image img {
    object-fit: cover;
  }

  &-photos {
    img {
      cursor: pointer;
    }
  }

  &-selected {
    margin-bottom: 1em;

    .image img {
      max-width: 100%;
    }
  }

}
